body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #FFF;
    min-height: 100vh;
    box-sizing: border-box;
}


h1 {
    /*  text-align: center; */
    font-size: 40px;
    margin: auto;
    text-shadow: 1px 1px 10px red;
}

.container {
    padding: 20px;
    border: 10px solid #fff;
    border-radius: 8px;
    background-color: darkmagenta;

}